<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>McKiosk - Logowanie</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div th:replace="~{fragments :: header}"></div>

<h1>Logowanie</h1>

<!-- Logowanie za pomocą Google -->
<a href="/oauth2/authorization/google" style="display: block; margin-bottom: 20px;">
    <button>Zaloguj się przez Google</button>
</a>

<div th:if="${error}" style="color: red;">
    <p th:text="${error}"></p>
</div>
<div th:if="${param.error}" style="color: red;">
    <p>Błędny login lub hasło!</p>
</div>
<!-- Logowanie lokalne -->
<div class="login-container">
    <form th:action="@{/login}" method="post">
        <label for="username">Nazwa użytkownika</label>
        <input type="text" id="username" name="username" placeholder="Wprowadź nazwę użytkownika" required>

        <label for="password">Hasło</label>
        <input type="password" id="password" name="password" placeholder="Wprowadź hasło" required>

        <button type="submit">Zaloguj się</button>
    </form>


</div>
</body>
</html>
