<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>McKiosk - Login</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div th:replace="~{fragments :: header-logo}"></div>

<h1>Login</h1>

<!-- Login with Google -->
<a href="/oauth2/authorization/google" style="display: block; margin-bottom: 20px;">
    <button>Log in with Google</button>
</a>

<div th:if="${error}" style="color: red;">
    <p th:text="${error}"></p>
</div>
<div th:if="${param.error}" style="color: red;">
    <p>Invalid username or password!</p>
</div>
<!-- Local Login -->
<div class="login-container">
    <form th:action="@{/login}" method="post">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="Enter your username" required>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Enter your password" required>

        <button type="submit">Log In</button>
    </form>
</div>
</body>
</html>