<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Szczegóły posiłku</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div th:replace="~{fragments :: header}"></div>

<h1 th:text="${meal.name}">Nazwa posiłku</h1>
<p>Kategoria: <span th:text="${meal.category}"></span></p>
<p>Cena: <span th:text="${meal.price}"></span></p>

<h2>Składniki:</h2>
<ul>
    <li th:each="ingredient : ${meal.ingredients}" th:text="${ingredient.name}"></li>
</ul>

<form action="/productlist/add" method="post">
    <input type="hidden" name="mealId" th:value="${meal.id}">
    <button type="submit">Dodaj do koszyka</button>
</form>




</body>
</html>