<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Product List</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div th:replace="~{fragments :: header-full}"></div>

<h1>Product List</h1>
<div>
    <ul class="meal-list">
        <li class="meal-item" th:each="meal : ${meals}">
            <img th:src="@{/images/{id}.jpg(id=${meal.id})}" alt="Meal Image" class="meal-image">
            <p><strong>Name:</strong> <span th:text="${meal.name}"></span></p>
            <p><strong>Category:</strong> <span th:text="${meal.category}"></span></p>
            <p><strong>Price:</strong> <span th:text="${meal.price}"></span></p>
            <button th:onclick="|window.location='@{/meal/{id}(id=${meal.id})}'|" th:if="${loggedUser != 'You are not logged in'}">View Details</button>
            <button type="button" disabled th:if="${loggedUser == 'You are not logged in'}">View Details (log in)</button>
            <form action="/productlist/add" method="post" th:if="${loggedUser != 'You are not logged in'}">
                <input type="hidden" name="mealId" th:value="${meal.id}">
                <button type="submit">Add to Cart</button>
            </form>
            <button type="button" disabled th:if="${loggedUser == 'You are not logged in'}">Add to Cart (log in)</button>
        </li>
    </ul>
</div>
</body>
</html>